@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$bug: #a7b723;
$dark: #705746;
$dragon: #7037ff;
$electric: #f9cf30;
$fairy: #d685ad;
$fighting: #c22e28;
$fire: #ee8130;
$flying: #a98ff3;
$ghost: #70559b;
$normal: #aaa67f;
$grass: #74cb48;
$ground: #e2bf65;
$ice: #96d9d6;
$poison: #a33ea1;
$psychic: #fb5584;
$rock: #b6a136;
$steel: #b7b7ce;
$water: #6493eb;

a {
  text-decoration: none;
}

body {
  font-family: "Poppins";
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  margin: 0.1em;
}
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.App {
  margin: 10px;
}
